body{
  background-color: aquamarine;
}

.about{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}
.image{
  width: 250px;
  height: 250px;
  border: 2px solid white;
}
.content{
  border: 2px solid #000;
  width: 864px;
  min-height: 500px;
  padding : 10px;
  font-family: "Helvectica", arial, sans-serif;
  line-height: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.me{
  font-size: 24px;
  line-height: 1.5;
}